html,
body {
  background-color: rgb(170, 170, 170);
}

table {
  border: 0;
  border-collapse: collapse;
}

td {
  padding: 5px;
  border: 1px solid #aaa;
}

button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
}

#table-button {
  border: 1px solid white;
}

#title {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

#inline-header {
  display: inline;
  margin-right: 30px;
}

#inline-header-button {
  align-self: center;
}

#buttons {
  margin-top: 40px;
}

.container {
  display: flex;
  height: 100%;
  margin-bottom: 0;
  padding: 20% 5%;
  padding-top: 0%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.item {
  align-self: auto;
}
