body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(170, 170, 170);
}

nav {
  height: 10%;
  width: 100%;
  align-self: flex-start;
}

table {
  border: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid #aaa;
}

button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
}

label {
  width: 120px;
}

select {
  width: 300px;
}

#table-button {
  border: 1px solid white;
}

#title {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

#inline-header {
  display: inline;
  margin-right: 30px;
}

#inline-header-button {
  align-self: center;
}

#buttons {
  margin-top: 40px;
}

.container {
  display: flex;
  height: 80%;
  padding: 3%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.item {
  align-self: auto;
  color: black;
  justify-self: center;
}

.input-button {
  border: 0;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
}

.nav-div {
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

#current-tab {
  text-decoration: underline;
}
